@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");

/* Обнуление */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #ffffff;
  font-size: 18px;
  color: #6B7280;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.header {
  padding: 0px 0px 102px 0px;
}

.header__container {
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 0px 43px;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 35px 0px 54px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin: 0px 80px 0px 0px;
}

.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.button {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #3730A3;
  background: #FFFFFF;
  border: 1px solid #3730A3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  height: 52px;
  min-width: 131px;
  padding: 12px 31.4px;
  display: inline-block;
}

.about-me {
  padding: 0px 0px 198px 0px;
}

.about-me__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me__contant {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 21px 0px;
}

.about-me__imag {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 35px 0px 116px;
}

.about-me__imag img {
  height: 525px;
}

.contant-about-me > *:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.contant-about-me__top {
  font-weight: 500px;
  font-size: 20px;
  line-height: 28px;
  color: #4338ca;
}

.contant-about-me__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  color: #1f2937;
}

.contant-about-me__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  max-width: 559px;
}

.contant-about-me__bottom {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.see-works {
  padding: 0px 0px 150px 0px;
}

.see-works__title {
  margin: 0px 110px 150px 110px;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #1f2937;
}

.see-works__title span {
  color: #3730a3;
}

.see-works__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-see-works__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.05%;
          flex: 0 1 42.05%;
}

.body-see-works__img img {
  margin: 0px 50px 0px 39px;
}

.body-see-works__contant {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57.949%;
          flex: 1 1 57.949%;
  margin: 45px 39px 45px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 68px;
     -moz-column-gap: 68px;
          column-gap: 68px;
  row-gap: 67px;
}

.see-works-contant {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45.07%;
          flex: 0 1 45.07%;
}

.see-works-contant > *:not(:last-child) {
  margin: 0px 0px 18px 0px;
}

.see-works-contant__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1f2937;
}

.see-works-contant__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.see-works-contant__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #3730a3;
}

.trust {
  background: #FEF2F2;
  padding: 100px 0px;
}

.trust__container {
  padding: 0px 45px 0px 40px;
}

.trust__title {
  font-size: 20px;
  line-height: 28px;
  color: #9CA3AF;
  margin: 0px 0px 20px 0px;
}

.trust__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 97px;
     -moz-column-gap: 97px;
          column-gap: 97px;
}

.project__title {
  margin: 150px 120px;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #1F2937;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project__image {
  margin: 0px 36px 150px 36px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 464px 406px 400px;
  grid-template-rows: 464px 406px 400px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.project__image > :nth-of-type(2) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 0;
  grid-column-end: 2;
}

.project__image > :nth-of-type(4) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

.project__image img {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services__body {
  margin: 0px 0px 150px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 83px;
     -moz-column-gap: 83px;
          column-gap: 83px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__icon {
  margin: 0px 0px 40px 0px;
  padding: 50px;
  background: #eef2ff;
  border-radius: 6px;
}

.services__title {
  margin: 0px 0px 20px 0px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #374151;
}

.services__text {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9CA3AF;
}

.careers__title {
  margin: 0px 0px 150px 0px;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #1f2937;
}

.careers__body {
  margin: 0px 0px 150px 0px;
}

.careers__row {
  margin-right: 120px;
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.careers__row:not(:last-child) {
  margin-bottom: 80px;
}

.careers__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.careers__item span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1f2937;
}

.footer {
  padding: 110px 0px;
  background: #FEF2F2;
}

.footer_title {
  margin: 0px 0px 25px 0px;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #374151;
}

.footer__text {
  margin: 0px 0px 95px 0px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1258px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}